/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e5f85;
  --ifm-color-primary-dark: #285374;
  --ifm-color-primary-darker: #244a68;
  --ifm-color-primary-darkest: #20415b;
  --ifm-color-primary-light: #336891;
  --ifm-color-primary-lighter: #3873a0;
  --ifm-color-primary-lightest: #3d7dad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.markdown img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 3px 10px 2px #0003;
}

img.homepage-img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 3px 10px 2px #0003;
}

.homepage-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.me {
  display: flex;
  flex-direction: column;
}



